[data-theme="light"] {
  --table-border-color: var(--sy-base-06);
  --table-uneven-background: var(--sy-base-01);
  --table-even-background: var(--sy-base-04);
  --table-clickable-hover-color: var(--sy-base-05);
  --table-clickable-foreground-color: var(--sy-base-12);
}

[data-theme="dark"] {
  --table-border-color: var(--sy-base-10);
  --table-uneven-background: var(--sy-base-12);
  --table-even-background: var(--sy-base-11);
  --table-clickable-hover-color: var(--sy-primary-500);
  --table-clickable-foreground-color: var(--sy-base-12);
}

[data-theme="light"] {
  --table-header-background-color: var(--sy-base-04);
  --table-header-border-color: var(--sy-base-06);
  --table-header-text-hover-color: var(--sy-base-11);
  --header-text-color: var(--sy-base-10);
}

[data-theme="dark"] {
  --table-header-background-color: var(--sy-base-11);
  --table-header-border-color: var(--sy-base-10);
  --table-header-text-hover-color: var(--sy-primary-400);
  --header-text-color: #c8cfe0;
}

.listing-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;

  .row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .column {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    gap: 0.3rem;
  }

  table {
    width: 100%;
    border: 2px solid var(--table-border-color);
    border-radius: var(--sy-border-radius);
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    display: table;
    table-layout: fixed;

    tr {
      background-color: transparent;
      border-top: none;
    }

    td {
      color: inherit;
      border: none;
    }

    th {
      border: none;
    }

    thead {
      position: relative;
      background-color: none;

      tr {
        border-bottom: none;
      }

      th {
        background-color: var(--table-header-background-color);
        border-bottom: 2px solid var(--table-header-border-color);
        vertical-align: top;
        padding: 0.3rem;

        .content {
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
          padding-left: 3rem;
          padding-right: 3rem;
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: var(--sy-font-secondary);
          font-weight: var(--sy-font-weight-secondary);
          color: var(--header-text-color);
          transition: var(--sy-transition-time);
          border-bottom: 2px solid transparent;

          .text {
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            transition: var(--sy-transition-time);
            user-select: none;
            font-family: var(--sy-font-secondary);
            font-weight: var(--sy-font-weight-secondary);
          }
        }
      }
    }

    tbody {
      tr {
        &.clickable {
          cursor: pointer;
          transition: var(--sy-transition-time);

          &:hover {
            background-color: var(--table-clickable-hover-color);
            color: var(--table-clickable-foreground-color);
          }
        }

        &.loading {
          opacity: 0.3;
          pointer-events: none;
          background-color: var(--sy-base-06);
        }

        &:not(:last-child) {
          td {
            border-bottom: 1px solid var(--sy-base-11);
          }
        }

        td {
          padding: 0.5rem;

          .cellContent {
            width: 100%;
            min-height: 2.5rem;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
