.mountLeft {
  animation-name: mountFromLeft;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.mountRight {
  animation-name: mountFromRight;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes mountFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes mountFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes unmountToLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes unmountToRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
