[data-theme="light"] {
  .officer-chip {
    color: var(--sy-base-11);
    border: 2px solid var(--sy-base-12);

    &.presiding {
      background-color: var(--sy-red-200);
    }

    &.secretary {
      background-color: var(--sy-orange-300);
    }

    &.prosecutor {
      background-color: var(--sy-purple-300);
    }

    &.member {
      background-color: var(--sy-teal-300);
    }
  }
}

[data-theme="dark"] {
  .officer-chip {
    border: 2px solid transparent;

    &.presiding {
      color: var(--sy-red-200);
    }

    &.secretary {
      color: var(--sy-orange-300);
    }

    &.prosecutor {
      color: var(--sy-purple-300);
    }

    &.member {
      color: var(--sy-teal-300);
    }
  }
}

.officer-chip {
  margin: 0;
  padding: 5px;
  border-radius: var(--sy-border-radius);
  font-size: 0.9em;
  width: 50px;
  text-align: center;
  font-weight: 600;
}
