[data-theme="light"] {
  --button-icon-hover-color: var(--sy-primary-800);
}

[data-theme="dark"] {
  --button-icon-hover-color: var(--sy-primary-500);
}

.welcome-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  .configuration-button {
    position: fixed;
    right: 50px;
    top: 50px;

    &.hidden {
      display: none;
    }
  }

  p,
  h2,
  h4 {
    text-align: center;
  }

  h4 {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .welcome-logo {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .baseview-container {
    &.mount {
      animation-name: mountFromLeft;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      width: 100%;

      .button {
        flex: 1 1 100%;
      }

      .icon-text {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
      }
    }

    .recent-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      gap: 0.5rem;
      margin-top: 1rem;

      .link-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        p {
          color: inherit;
          margin: 0;
        }
      }
    }
  }

  .openview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    &.mount {
      animation-name: mountFromRight;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    h4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .dropdown {
      width: 100%;
    }

    .iconbutton {
      margin-top: 2rem;
    }
  }

  .newview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    .choices-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;

      .courtdatepicker {
        width: 100%;
      }
    }

    &.mount {
      animation-name: mountFromRight;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    h4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .dropdown {
      width: 100%;
    }

    .textbox {
      width: 100%;
    }

    .icon {
      margin-top: 2rem;
      transition: var(--sy-transition-time);
      color: inherit;

      &:hover {
        color: var(--button-icon-hover-color);
      }
    }

    .button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}

@keyframes mountFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes mountFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes unmountToLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes unmountToRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
