[data-theme="light"] {
  --side-menu-background-color: var(--sy-base-03);
  --side-menu-border-color: var(--sy-base-03);
}

[data-theme="dark"] {
  --side-menu-background-color: var(--sy-base-11);
  --side-menu-border-color: var(--sy-base-11);
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid var(--side-menu-border-color);
  padding: 0 2rem;
  margin-top: 2rem;
  width: fit-content;

  .section {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    .section-button {
      width: 100px;
      text-align: start;
      color: white;
    }
  }
}
